<!DOCTYPE html>
<html>
<head>
    <title>Language learning</title>
</head>
<body>


    <form action="/slovak_words" method="POST">
         <input type="hidden" name="correct_answer" value="">
         <input type="hidden" name="index_number" value="">
         <input type="hidden" name="user_answer" value="">
          <input type="submit" value="Slovak words ->">
    </form>


    <form action="/swedish_words" method="POST">
         <input type="hidden" name="correct_answer" value="">
         <input type="hidden" name="index_number" value="">
         <input type="hidden" name="user_answer" value="">
          <input type="submit" value="Swedish words ->">
    </form>


    
</body>
</html>